demo/src/main/resources/pagos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://taller3arqui.com/pagos"
           xmlns:tns="http://taller3arqui.com/pagos"
           elementFormDefault="qualified">

    <xs:element name="crearPagoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" type="xs:string"/>
                <xs:element name="monto" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="crearPagoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resultado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
